* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: black;
  box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
  color: white;
}

.header .encabezado__fijo h1 {
  text-align: center;
  font-size: 5rem;
  margin-top: 1.25rem;
  font-family: "Newsreader", serif;
}
.header .encabezado__fijo .cuotas {
  text-align: center;
  font-size: 15px;
  background-color: #EEF1E5;
  padding: 15px;
  font-family: "Lexend Exa", sans-serif;
}
.header .encabezado__fijo .img__compras {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.header .encabezado__fijo .img__compras img {
  padding-right: 20px;
  padding-top: 20px;
}
.header .encabezado__fijo .subtitulo {
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 10px;
  font-family: "Noto Sans", sans-serif;
}
.header .navbar {
  list-style-type: none;
  width: 100%;
  text-align: none;
  justify-content: center;
  grid-area: navbar;
}
.header .navbar ul {
  width: 100%;
  list-style-type: none;
  text-align: center;
}
.header .navbar ul li {
  display: inline-flex;
  padding: 0px 20px 0px 20px;
}
.header .navbar ul li a {
  padding: 1.25rem;
  text-decoration: none;
  color: black;
  font-family: "Noto Sans", sans-serif;
}
.header .navbar ul li:hover {
  background-color: rgb(243, 240, 241);
}

@media screen and (max-width: 763px) {
  .header .encabezado__fijo h1 {
    font-size: 3.5rem;
  }
  .header .encabezado__fijo .subtitulo {
    font-size: 1rem;
  }
  .header .navbar ul li a {
    padding: 1rem;
  }
}
.main .fondo__principal {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 50rem;
  color: white;
  background-image: url(../img/imagenprincipal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: xx-large;
  font-family: "Lexend Exa", sans-serif;
}
.main .nueva {
  font-size: 5rem;
  text-align: center;
}
.main .coleccion {
  text-align: center;
  font-size: 2.5rem;
}
.main button {
  margin-top: 2rem;
}
.main .promociones {
  background-color: #EEF1E5;
  font-family: "Lexend Exa", sans-serif;
}
.main .promociones .promos__contenedor {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}
.main .promociones .promos__contenedor .promos__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}
.main .promociones .promos__contenedor .promos__item .promos__toppic {
  margin: auto;
  padding: 1rem;
  color: #2D2D2D;
  font-size: 14px;
  font-style: normal;
  text-align: center;
}

@media screen and (max-width: 763px) {
  .main .fondo__principal {
    height: 40rem;
  }
  .main .nueva {
    font-size: 4rem;
    text-align: center;
  }
  .main .coleccion {
    text-align: center;
    font-size: 2rem;
  }
  .main .promociones .promos__contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 585px) {
  .main .fondo__principal {
    height: 35rem;
  }
  .main .nueva {
    font-size: 2rem;
    text-align: center;
  }
  .main .coleccion {
    text-align: center;
    font-size: 1rem;
  }
}
.aside {
  background-color: white;
}
.aside .descubre {
  font-size: xx-large;
  padding: 70px;
  background-image: url(../img/segundafotoprin.jpg);
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 488px;
  width: 80%;
  margin: 5% auto;
  align-items: center;
  justify-content: center;
  display: flex;
}
.aside .descubre button a {
  text-decoration: none;
  font-family: "Lexend Exa", sans-serif;
}
.aside .descubre button a:hover {
  color: white;
}
.aside .aside__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.aside .aside__logo img {
  width: 170px;
  height: 50px;
}
.aside .made p {
  text-align: center;
  padding-bottom: 40px;
  font-size: x-large;
  font-family: "Lexend Exa", sans-serif;
}
.aside .news {
  background-color: black;
  color: white;
  text-align: center;
  padding: 50px;
}
.aside .news p {
  font-family: "Lexend Exa", sans-serif;
}
.aside .news input[type=text], .aside .news select, .aside .news textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  resize: vertical;
  font-family: "Lexend Exa", sans-serif;
  font-size: medium;
}
.aside .news label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-family: "Lexend Exa", sans-serif;
}
.aside .news input[type=Enviar] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
.aside .news input[type=Enviar]:hover {
  background-color: #45a049;
}

@media screen and (max-width: 600px) {
  .descubre {
    height: 300px;
    width: 80%;
  }
  .descubre p {
    margin-top: 30px;
  }
}
@media (max-width: 391px) {
  .descubre {
    height: 220px;
    width: 85%;
  }
  .descubre p {
    margin-top: -18px;
  }
}
.footer {
  background-color: #EEF1E5;
  position: relative;
  justify-content: center;
}
.footer li {
  list-style-type: none;
}
.footer .footer__caja {
  display: flex;
  margin: 0% auto;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
}
.footer .footer__caja .pie__pagina {
  font-family: "Lexend Exa", sans-serif;
}
.footer .footer__caja .centro__pie {
  font-family: "Lexend Exa", sans-serif;
}
.footer .footer__caja .centro__pie .whatsapp {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.footer .footer__caja .centro__pie .whatsapp li {
  padding-left: 5px;
}
.footer .footer__caja .centro__pie .mail {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.footer .footer__caja .centro__pie .mail li {
  padding-left: 5px;
}
.footer .footer__caja .seguinos {
  font-family: "Lexend Exa", sans-serif;
  font-size: large;
}
.footer .footer__caja .seguinos ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .footer__caja .seguinos ul img {
  padding-top: 10px;
}
.footer .fijo {
  text-align: center;
  background-color: #8f8f8f;
  color: white;
  font-size: smaller;
  font-family: "Lexend Exa", sans-serif;
}

@media screen and (max-width: 763px) {
  .footer .footer__caja {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer .footer__caja .centro__pie {
    padding-top: 1.5rem;
  }
  .footer .footer__caja .seguinos {
    padding-top: 1.5rem;
  }
}
.main .new__arrivals {
  background-color: black;
  padding: 45px;
  text-align: center;
}
.main .new__arrivals b {
  font-size: x-large;
  color: white;
  font-family: "Lexend Exa", sans-serif;
}
.main .new__arrivals__a {
  background-color: #E6D64B;
}
.main .new__arrivals__a .p1 {
  font-size: 80px;
  font-family: "Lexend Exa", sans-serif;
  color: white;
  text-shadow: 0 0 12px #000;
  padding-left: 10rem;
}
.main .new__arrivals__a .p2 {
  font-size: 80px;
  font-family: "Lexend Exa", sans-serif;
  color: white;
  text-align: right;
  text-shadow: 0 0 12px #000;
  padding-right: 10rem;
}
.main .contenido {
  background-color: white;
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 20px;
  margin: 55px;
}
.main .contenido .gridItem {
  width: 18.75rem;
}
.main .contenido img {
  width: 80%;
  height: 100%;
}

/*INICIO RESPONSIVE NEW ARRIVAL*/
@media screen and (max-width: 763px) {
  .main .new__arrivals__a .p1 {
    font-size: 60px;
    padding-left: 8rem;
  }
  .main .new__arrivals__a .p2 {
    font-size: 60px;
    padding-left: 8rem;
  }
  .main .contenido {
    background-color: white;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 10px;
    margin: 40px;
  }
}
@media screen and (max-width: 585px) {
  .main .new__arrivals__a .p1 {
    font-size: 40px;
    padding-left: 8rem;
  }
  .main .new__arrivals__a .p2 {
    font-size: 40px;
    padding-left: 10rem;
  }
}
@media screen and (max-width: 491px) {
  .main .new__arrivals__a .p1 {
    font-size: 35px;
    padding-left: 3rem;
  }
  .main .new__arrivals__a .p2 {
    font-size: 35px;
    padding-left: 10rem;
  }
}
.main {
  /*INICIO RESPONSIVE BAGS*/
}
.main .bags {
  background-color: black;
  padding: 40px;
}
.main .bags p {
  font-size: x-large;
  color: white;
  font-family: "Lexend Exa", sans-serif;
  text-align: center;
}
.main .cards {
  background-color: #F9F8F8;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.main .cards .card {
  align-items: center;
}
.main .cards .card .card-body .card-title {
  text-align: center;
}
@media screen and (max-width: 1250px) {
  .main .main .CardVenta .container-fluid .row .cardVenta__contenedor {
    display: flex;
    margin: 0 auto;
    position: relative;
    height: 100%;
    flex-direction: column;
  }
}

.main .about {
  background-color: black;
  padding: 40px;
}
.main .about p {
  font-size: x-large;
  color: white;
  font-family: "Lexend Exa", sans-serif;
  text-align: center;
}
.main .presentacion .nosotros {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  margin: 4rem;
}
.main .presentacion .nosotros img {
  width: 25rem;
  height: 28rem;
}
.main .presentacion .nosotros .presentacion__p {
  font-family: "Lexend Exa", sans-serif;
  margin-left: 3rem;
}

/*INICIO RESPONSIVE ABOUTUS*/
@media screen and (max-width: 1100px) {
  .main .presentacion .nosotros {
    flex-direction: column;
  }
  .main .presentacion .nosotros .presentacion__p {
    margin-top: 5rem;
    margin-left: 0rem;
  }
}
.main .contacto {
  background-color: black;
  padding: 40px;
}
.main .contacto p {
  font-size: x-large;
  color: white;
  font-family: "Lexend Exa", sans-serif;
  text-align: center;
}
.main .contacto__form {
  padding: 50px 100px 100px 100px;
}
.main .contacto__form .caja__form form {
  margin: 50px;
}
.main .contacto__form .caja__form form label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-family: "Lexend Exa", sans-serif;
}
.main .contacto__form .caja__form form input[type=Enviar] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
.main .contacto__form .caja__form form input[type=text], .main .contacto__form .caja__form form select, .main .contacto__form .caja__form form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  resize: vertical;
  font-family: "Lexend Exa", sans-serif;
  font-size: medium;
}
.main .contacto__form .caja__form form input[type=Enviar]:hover {
  background-color: #45a049;
}

@media screen and (max-width: 585px) {
  .main .contacto__form {
    padding: 25px 50px 50px 50px;
  }
}
@media screen and (max-width: 585px) {
  .main .contacto__form {
    padding: 25px 25px 25px 50px;
  }
}/*# sourceMappingURL=estilos.css.map */