@mixin size($width,$height) {
    width: $width;
    height: $height;
}


.main{
    .about{
        background-color: map-get($colores , negro);
        padding: 40px;
        p{
            font-size: x-large;
            color: map-get($colores , blanco);
            font-family:$fontLexendEnda;
            text-align: center;
        }
    }
    .presentacion{
        .nosotros{
            background-color: map-get($colores , blanco);
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: space-evenly;
            align-items: center;
            margin: 4rem;
                img{
                    width: 25rem;
                    height: 28rem;
                }
                .presentacion__p{
                        font-family: $fontLexendEnda;
                        margin-left: 3rem;

                }
        }

    }
}



/*INICIO RESPONSIVE ABOUTUS*/
@media screen and (max-width: 1100px){
    .main .presentacion .nosotros{
        flex-direction: column;
        .presentacion__p{
            margin-top: 5rem;
            margin-left: 0rem;
        }
    }
}






