.main{
    .bags{
        background-color: map-get($colores , negro);
        padding: 40px;
        p{
            font-size: x-large;
            color: map-get($colores , blanco);
            font-family:'Lexend Exa', sans-serif;
            text-align: center;
        }
    }
    .cards{
        background-color: #F9F8F8;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .card{
            align-items: center;
            .card-body{
                .card-title{
                text-align: center;
            }
        } 
    }

}



/*INICIO RESPONSIVE BAGS*/

@media screen and (max-width:1250px){
    .main .CardVenta .container-fluid .row .cardVenta__contenedor {
        display: flex;
        margin: 0 auto;
        position: relative;
        height: 100%;
        flex-direction: column;
        }
    }
}